* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 10px;
}

// =============================
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(./../img/sp.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.circle {
  position: relative;
  width: calc(100px + (600 - 100) * ((100vw - 320px) / (1440 - 320)));
  height: calc(100px + (600 - 100) * ((100vw - 320px) / (1440 - 320)));
  filter: url(#wavy) blur(0px);
  -webkit-filter: url(#wavy) blur(0px);
  // -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0002);

}

.circle:before {
  content: '';
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 20px solid #fff;
  background: #00d6db;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 50px #00d6db, inset 0 0 50px #00d6db;
  animation: animate 5s linear infinite;
  -webkit-animation: animate 5s linear infinite;
}
.circle:after {
  content: '';
  position: absolute;
  background: #fff;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 20px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 10px #fff, inset 0 0 20px #fff;
}

.circle:nth-child(2):before {
  //animation-delay: -2.5s;
  animation: rotate 10s linear infinite;
  -webkit-animation: rotate 10s linear infinite;
}


@keyframes animate {
  0% {
    box-shadow: 0 0 70px #00d6db, inset 0 0 50px #00d6db;
    // filter: hue-rotate(0deg);
    // -webkit-filter: hue-rotate(0deg);
  }

  20% {
    box-shadow: 0 0 60px #00d6db, inset 0 0 60px #00d6db;
  }

  40% {
    box-shadow: 0 0 90px #00d6db, inset 0 0 40px #00d6db;
  }

  60% {
    box-shadow: 0 0 80px #00d6db, inset 0 0 80px #00d6db;
  }

  80% {
    box-shadow: 0 0 100px #00d6db, inset 0 0 100px #00d6db;
  }

  100% {
    box-shadow: 0 0 70px #00d6db, inset 0 0 50px #00d6db;
    // filter: hue-rotate(360deg);
    // -webkit-filter: hue-rotate(360deg);
  }
}
svg{
  width: 0;
  height: 0;
}